@import '../../../assets/Styles/base.scss';

.PhaseDelivery{
    width: 256px;
    height: 104px;


    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 24px rgba(255, 0, 0, 0.03);
    border-radius: 14px;

    .PhaseCircle{
        width: 77px;
        height: 77px;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        z-index: 1;
        bottom: 50px;
        left: 65px;

        background-color: rgb(255, 255, 255);
        border-radius: 50%;
    }
    .PhaseTitle{
        position: relative;
        bottom: 50px;
        @include typography('Montserrat', 14px, 700, black, 22px);
    }
}