@import '../../../assets/styles/base.scss';

.SliderContent {
    margin-top: 28px;
    height: 100%;
    position: relative;
    .SliderItem {
        width: 100%;
        height: 410px;
        background-position: center;
        background-size: cover;
    }
    .SliderLeft{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 32px;
    }
    .SliderRight{
        @extend .SliderLeft;
        left: 1020px;
    }     
    }


