@import '../../../assets/Styles/base.scss';

.button {
    padding: 10px;
    
    @include typography('Montserrat', 16px, 600, $light-color, 18px);

    border-radius: 8px;
    background-color: $primary-color;

    cursor: pointer;
}
.button.call{
    padding: 7px 25px;

    border-radius: 28px;
    background-color: rgb(0,0,0,0.3);
}
.button.card{
    padding: 5px 10px;
}
.button.cart{

}